<div class="img">
  <br /><br /><br /><br />

  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form>
        <h1 class="l1">WELCOME TO ETT - TECHNOLOGY ACADEMY</h1>

        <br />

        <img
          src="../../assets/imges/T-HUB.png"
          style="margin-left: 60px; margin-top: 60px"
        />
      </form>
    </div>

    <div class="login">
        <br />
        <button
          mat-raised-button
          color="accent"
          style="
            margin-left: 39%;
            height: 40px;
            width: 150px;
            align-content: center;
          "
        >
          <label style="margin-left: 50px" routerLink="home">Get&nbsp;Started</label>
        </button>
    </div>
  </div>
</div>
